{
    "overrides": [
        {
          "files": "*.sol",
          "options": {
            "printWidth": 125,
            "tabWidth": 4,
            "useTabs": false,
            "singleQuote": false,
            "bracketSpacing": false,
            "explicitTypes": "preserve"
          }
        },
        {
            "files": ["*.js", "*.ts", "*.md"],
            "options": {
                "printWidth": 100,
                "semi": true,
                "singleQuote": true,
                "trailingComma": "es5"
            }
        }
    ]
}
  